<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<body>
    <div class="details">
        <h2><%= blog.title %></h2>
        <img src="/trashcan.svg" alt="delete-image" class="delete">
        <p><%= blog.body %></p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>